<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlxJobScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SlxJobScheduler.Properties.Settings>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://localhost/sdata/$app/scheduling/-</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>admin</value>
            </setting>
        </SlxJobScheduler.Properties.Settings>
    </userSettings>
</configuration>
